<div class="row justify-content-center">
  <div class="col-md-6 register-user">
    <!-- form card register -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h4 class="mb-0 text-center">Sign up</h4>
      </div>
      <div class="card-body">
        <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
			<div class="form-group text-center">
				<img src="/assets/img/1.png" *ngIf="userService.selectedUser.race == 'Parasaurolophus'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/2.png" *ngIf="userService.selectedUser.race == 'Stegosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/3.png" *ngIf="userService.selectedUser.race == 'Euoplocephalus'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/4.png" *ngIf="userService.selectedUser.race == 'Spinosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/5.png" *ngIf="userService.selectedUser.race == 'Hypsilophodon'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/6.png" *ngIf="userService.selectedUser.race == 'Pterosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/7.png" *ngIf="userService.selectedUser.race == 'Brachiosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/8.png" *ngIf="userService.selectedUser.race == 'Triceratops'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/9.png" *ngIf="userService.selectedUser.race == 'Tyrannosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/10.png" *ngIf="!userService.selectedUser.race" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>		
			</div>

			<div class="form-group">
				<label for="username">Username</label>
				<input class="form-control" type="text" #username="ngModel" [(ngModel)]="userService.selectedUser.username" name="username" placeholder="Enter username"
				required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !username.valid }">
				<div *ngIf="signUpForm.submitted && !username.valid">
					<label class="validation-message">This field is required.</label>
				</div>
			</div>
			
			<div class="form-group">
				<label for="email">Email</label>
				<input class="form-control" type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Enter email"
				required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
				<div *ngIf="signUpForm.submitted && email.errors">
					<label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
					<label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
				</div>
			</div>
			
			<div class="form-group">
				<label for="password">Password</label>
				<input class="form-control" type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Enter password"
				minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
				<div *ngIf="signUpForm.submitted && password.errors">
					<label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
					<label *ngIf="password.errors.minlength" class="validation-message">Enter at least 4 characters.</label>
				</div>
				<small id="passwordHelp" class="form-text text-muted">The password must be at least 4 characters.</small>
			</div>
			
			<div class="form-group">
				<label for="age">Age</label>
				<input class="form-control" type="number" #age="ngModel" [(ngModel)]="userService.selectedUser.age" name="age" placeholder="Enter age"
				required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !age.valid }">
				<div *ngIf="signUpForm.submitted && age.errors">
					<label *ngIf="age.errors.required" class="validation-message">This field is required.</label>
					<label *ngIf="age.errors.pattern" class="validation-message">Invalid age.</label>
				</div>
			</div>
			

			
			<div class="form-group">
				<label for="race">Race</label>
				<select class="form-control" type="text" class="custom-select form-control" #race="ngModel"  [(ngModel)]="userService.selectedUser.race" name="race" placeholder="Select race"
				required ng-change="checkPhoto(userService.selectedUser.race)" [ngClass]="{'invalid-select' :signUpForm.submitted && !race.valid }" >
					<option value="">Choose...</option>
					<option *ngFor="let userRace of UserRace" [ngValue]="userRace" value="{{userRace}}">{{userRace}}
					</option>
				</select>
				<small id="raceHelp" class="form-text text-muted">The race will change your image profile.</small>

						<!-- error -->
				<div *ngIf="signUpForm.submitted && !race.valid">
					<label class="validation-message">This field is required.</label>
				</div>
			</div>
			
			<div class="form-group">
				<label for="food">Food</label>
				<select class="form-control" type="text" class="custom-select form-control" #food="ngModel"  [(ngModel)]="userService.selectedUser.food" name="food" placeholder="Select food"
				required  [ngClass]="{'invalid-select' :signUpForm.submitted && !food.valid }" >
					<option value="">Choose...</option>
					<option *ngFor="let userFood of UserFood" [ngValue]="userFood" value="{{userFood}}">{{userFood}}
					</option>
				</select>
				<div *ngIf="signUpForm.submitted && !food.valid">
					<label class="validation-message">This field is required.</label>
				</div>
			</div>
			
			<div class="form-group">
				<input class="form-control btn-success" type="submit" value="Sign Up">
			</div>
        </form>
     
     <!-- Success message -->
     <div class="alert alert-success" *ngIf="showSucessMessage">
     Saved successfully
     </div>
     
     <!-- Error message -->
     <div class="alert alert-danger" *ngIf="serverErrorMessages">
     {{serverErrorMessages}}
     </div>
      </div>
    </div>
  </div>
</div>

