<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm ">
  <h5 class="my-0 mr-md-auto font-weight-normal">Dino Friends</h5>

  <a class="nav-link text-uppercase m-1"  *ngIf="router.url !== '/login' && router.url !== '/signup'  && router.url !== '/list'" routerLinkActive="active" routerLink="/list">Home</a>
  <a class="m-1 nav-link text-center " *ngIf="router.url !== '/login' && router.url !== '/signup'" routerLinkActive="active" routerLink="/userprofile">
    <img src="/assets/img/{{image}}.png" id="profile" alt="User image" class="img-thumbnail rounded-circle" width="50"/>
  </a>
  <a class="btn btn-outline-primary m-1" *ngIf="router.url == '/login' || router.url == '/signup'" routerLinkActive="active" routerLink="/login">Sign in</a>
  <a class="btn btn-outline-primary  m-1" *ngIf="router.url == '/login' || router.url == '/signup'" routerLinkActive="active" routerLink="/signup">Sign up</a>
</div>

<router-outlet></router-outlet>
