<div class="container" *ngIf="userDetails" >
    <h2 class="text-center">User Profile</h2>
    <div class="row border rounded">
        <div class="col-2 p-3  align-self-center " >
            <div class="form-group text-center">
				<img src="/assets/img/1.png" *ngIf="userDetails.race == 'Parasaurolophus'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/2.png" *ngIf="userDetails.race == 'Stegosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/3.png" *ngIf="userDetails.race == 'Euoplocephalus'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/4.png" *ngIf="userDetails.race == 'Spinosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/5.png" *ngIf="userDetails.race == 'Hypsilophodon'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/6.png" *ngIf="userDetails.race == 'Pterosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/7.png" *ngIf="userDetails.race == 'Brachiosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/8.png" *ngIf="userDetails.race == 'Triceratops'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/9.png" *ngIf="userDetails.race == 'Tyrannosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				<img src="/assets/img/10.png" *ngIf="!userDetails.race" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>		
			</div>
        </div>
        <div class="col-6 p-3">
            <h3>{{userDetails.username}}</h3>
            <p class="font-italic m-1">{{userDetails.email}}</p>
            <p class="m-1">I'm {{userDetails.age}}</p>
            <p class="m-1">My race is {{userDetails.race}}</p>
            <p class="m-1">I'm {{userDetails.food}}</p>
        </div>
        <div class="col-4 align-self-center p-3">
            <button type="button" class="btn btn-success btn m-2" routerLinkActive="active" routerLink="/edit/">Edit</button>
            <button type="button" (click)="deleteAccount()" class="btn btn-danger btn">Delete</button>
            <input type="button" class="btn btn-primary btn m-2" (click)="onLogout()" value="Logout" />
        </div>
    </div>
</div>
