<div class="container">
	<!-- No data message -->
	<p *ngIf="list.length <= 0" class="no-data text-center">There is no dinosaure added yet!</p>
	<!-- User list -->
	<div *ngIf="list.length > 0">
		<div class="row  border rounded" *ngFor="let user of list">
		
				<div class="col-2 p-3 align-self-center" >
					<img src="/assets/img/1.png" *ngIf="user.race == 'Parasaurolophus'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
					<img src="/assets/img/2.png" *ngIf="user.race == 'Stegosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
					<img src="/assets/img/3.png" *ngIf="user.race == 'Euoplocephalus'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
					<img src="/assets/img/4.png" *ngIf="user.race == 'Spinosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
					<img src="/assets/img/5.png" *ngIf="user.race == 'Hypsilophodon'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
					<img src="/assets/img/6.png" *ngIf="user.race == 'Pterosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
					<img src="/assets/img/7.png" *ngIf="user.race == 'Brachiosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
					<img src="/assets/img/8.png" *ngIf="user.race == 'Triceratops'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
					<img src="/assets/img/9.png" *ngIf="user.race == 'Tyrannosaure'" id="profile" alt="User image" class="img-thumbnail rounded-circle"/>
				</div>
				<div class="col-7  p-3">
					<h3>{{user.username}}</h3>
					<p class="m-1">I'm {{user.age}}</p>
					<p class="m-1">My race is {{user.race}}</p>
					<p class="m-1">I'm {{user.food}}</p>
				</div>
				<div class="col-3 align-self-center  p-3">
					<button type="button" *ngIf="checkFriend(user) == 0" (click)="addFriend(user)" class="btn btn-success btn-sm">Ajouter à mes amis</button> 
					<button type="button" *ngIf="checkFriend(user) == 3" (click)="removeFriend(user)" class="btn btn-danger btn-sm">Retirer de mes amis</button>
					<button type="button" *ngIf="checkFriend(user) == 1" (click)="cancelFriend(user)" class="btn btn-secondary btn-sm">En attente</button>
					<button type="button" *ngIf="checkFriend(user) == 2" (click)="acceptFriend(user)" class="btn btn-primary btn-sm">Accepter</button>
				</div>
			</div>
		<div>	
	</div>
</div>