<div class="row justify-content-center m-4">
    <div class="col-md-6 register-user">
      <!-- form card register -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h4 class="mb-0 text-center">Sign in</h4>
        </div>
        <div class="card-body">
            <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">

				<div class="form-group">
					<input class="form-control" type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required
					[ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
					<div *ngIf="signInForm.submitted && email.errors?.pattern">
					<label class="validation-message">Invalid email address.</label>
					</div>
				</div>

				<div class="form-group">
					<input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4"
					[ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
					<div *ngIf="signInForm.submitted && password.errors?.minlength">
					<label class="validation-message">Minimum 4 characters.</label>
					</div>
				</div>

				<div class="form-group">
					<input class="form-control btn-success" type="submit" value="Sign In">
				</div>
			  </form>
       
       <!-- Success message -->
       <div class="alert alert-success" *ngIf="showSucessMessage">
       Saved successfully
       </div>
       
       <!-- Error message -->
       <div class="alert alert-danger" *ngIf="serverErrorMessages">
       {{serverErrorMessages}}
       </div>
        </div>
      </div>
    </div>
  </div>
  
  